.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/frontend-prototype/FileContentIndex/6cf3a988-9e83-4d42-8cc1-9a1c51b17988.vsidx
.vs/frontend-prototype/FileContentIndex/a0eafc7c-55db-403d-b713-9d25ac076fbf.vsidx
.vs/frontend-prototype/v17/.wsuo
